@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Success!</title>
    </head>
    <body>
        <div>
            File uploaded!
            <a href="@ViewBag.Url">@ViewBag.Url</a>
        </div>
    </body>
</html>